@using Blazor_M5_L12.Models

<div class="kanban-board">
    <div class="column todo">Do zrobienia</div>
    <div class="column doing">W trakcie</div>
    <div class="column done">Ukończone</div>
</div>

<div class="kanban-board">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
